#cabecalho {
	height: 100px;
	background: #f4042e;
}

#logo {
	color: white;
	font-size: 200px;

}

span {
	color: #961129;
}

.carousel-item img {
	width: 1080px;
	height: 500px;
}

.carousel-caption {
	background: black;
	opacity: 0.5;
}

footer {
	background: #f4042e;
	height: 100%;
}

#menu-footer li {
	list-style: none;
	float: left;
}

#menu-footer a {
	text-decoration: none;
	margin-top: 20px;

}

#destaques img {
	padding-bottom: 20px;
}

#destaques p {
	width: 200px;

} 

